<section>
<div class="bio">
	<h2 class="logo">bio</h2><br>
		<div class="bio-content">
			<p class="main bio-expand">
				Pettingzoo is a band from Atlanta GA.
			</p>
			<br>
			<p class="main">
				In March 2014, we released our self-titled debut EP. Find that <a href="http://pettingzooband.bandcamp.com/album/pettingzoo"> here.</a>
			</p>
			<br>
			<p class="main">
				Summer 2014, we recorded an album which will be released before the end of the year.
			</p>
			<br>
			<p class="main">
				Find us on <a href="http://open.spotify.com/artist/1BBheE5fBQiUhduP9UsOjA"><span style="color:#ccff99">Spotify</span></a> and <a href="https://itunes.apple.com/us/artist/pettingzoo/id938061960"><span style="color:#ff99cc">iTunes</span></a>.
			</p>
		</div>
</div>
</section>