<section>
<div class="bio">
	<h2 class="logo">bio</h2><br>
		<div class="bio-content" >
			<p class="main bio-expand">
				<a href="http://facebook.com/pettingzootheband">Pettingzoo</a> is a band from <a href="http://en.wikipedia.org/wiki/Music_of_Atlanta">Atlanta, GA</a>.
			</p>
			<br>
			<p class="main" style="font-size:18px">
				In March 2014, we released our <a href="http://pettingzooband.bandcamp.com/album/pettingzoo"> self-titled debut EP.</a>
			</p>
			<br>
			<p class="main" style="font-size:18px">
				Summer 2014, we recorded an album titled <a href="http://pettingzooband.bandcamp.com/album/please-stop-playing">Please, Stop Playing</a>, and released it on January 20th, 2015.
			</p>
			<br>
			<p class="main" style="font-size:18px">
				Pettingzoo is <a href="https://twitter.com/mattpetters">Matt Petters</a> (guitar and vocals), <a href="https://twitter.com/_wheelzofsteel_">Cole Hairston</a> (drums and percussion), and <a href="https://twitter.com/Poontaekim">Moon-Tae Kim</a> (bass).
			</p>

			<br>
			<p class="main">
				Find us on <a href="http://open.spotify.com/artist/1BBheE5fBQiUhduP9UsOjA"><span style="color:#ccff99">Spotify</span></a> and <a href="https://itunes.apple.com/us/artist/pettingzoo/id938061960"><span style="color:#ff99cc">iTunes</span></a>.
			</p>
		</div>
</div>
</section>